<div>
  <!-- <img [src]="product.pImage" style="max-height: 300px" />
  <p>Name : {{ product.name }}</p>
  <p>Price : ${{ product.price }}</p>
  <p>Color : {{ product.color }}</p>
  <p>Discounted Price : {{ getDiscountedPrice().toFixed(1) }}</p>
  <p>
    {{
      product.inStock > 0
        ? "only " + product.inStock + " item left"
        : "out of stock"
    }}
  </p>
  <button (click)="decrementCartValue()">-</button>
  <span>{{ addToCart }}</span>
  <button (click)="incrementCartValue()">+</button> -->

  <!-- <input (input)="onNamechange($event)" /><br />
  <p>name : {{ name }}</p> -->
  <app-search 
  (searchTextChanged)="setSearchText($event)">
</app-search>
  <!-- <div *ngFor="let item of listOfString">
    <p>Current element of array is : {{ item }}</p>
  </div> -->
  <product-list [searchText]="searchText"></product-list>
</div>
