button{
    padding: 5px 10px;
    margin: 0 5px;
}

.ekart-featured-products {
    background-color: #282828;
    padding: 20px 10px;
    display: flex;
}

.ekart-featured-product-heading {
    width: 320px;
    margin-bottom: 10px 10px;
    padding: 2-px 30px;
    color: #fff;
}

.call-to-action{
    background-color: #28282B;
    color: #fff;
    width: 100%;
    padding: 10px 0px;
  }

  .ekart-featured-product-item{
    width: 270px;
    margin: 10px 10px;
    padding: 20px 30px;
    background-color: #fff;
  }
  
  .title, .description, .call-to-action{
    margin: 10px 0px;
  }
